#sh
{
	color: #00a9ac ;
}

#sh1 {
    color: orange;
    
}
#sh2 {
    color: orange;
    
}
#sh3
{
	color: silver;
}
body p 
{
	text-align: justify;
}
.ah
{
	margin-top: 2px;
}

/*div#sh5 {
    padding-top: 30px!important;
}*/